.container {
  width: 620px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
  background-color: white;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: rgb(0, 112, 201);
  font-size: 14px;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  height: 40px;
  margin: 8px auto;
  padding-left: 10px;
  border-radius: 6px;
  border: 1px solid rgb(214, 214, 214);
  color: rgba(1, 1, 1, .8);
  font-size: 15px;
}

input::placeholder {
  transition: .2s;
}

input:focus::placeholder {
  color: rgb(0, 112, 201);
}

hr {
  width: 400px;
  margin: 10px auto;
  height: 0.5px;
  border: none;
  background-color: rgb(214, 214, 214);
}

.find-address {
  margin-right: 73px;
}

.find-address .address__btn {
  width: 70px;
  height: 40px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgb(214, 214, 214);
  color: rgba(1, 1, 1, .6);
  font-size: 15px;
  line-height: 1px;
}

.find-address .address_readonly {
  background-color: rgb(214, 214, 214);
}

.find-address .address_readonly:focus {
  outline: none;
}

.join__btn {
  height: 40px;
  margin-top: 40px;
  border: 1px solid #07c;
  border-radius: 4px;
  padding: 4px 15px;
  background: linear-gradient(rgb(66, 161, 236), rgb(0, 112, 201));
  font-weight: 400;
  color: white;
  cursor: pointer;
}
